@model SGD.Dominio.Entidade.Gerais.Paginacao
@using PagedList
@using PagedList.Mvc;
@using SGD.Dominio.Entidade.Autenticacao

@{
    var listaUsuarios = (StaticPagedList<Usuario>)ViewBag.ListaUsuarios;
}


<div class="container" style="background-color:#f5f7fd">
    <div class="page-inner">

        <div class="page-header">
            <h3 class="fw-bold mb-3">Usuários</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="fa-solid fa-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li class="separator">
                    <i class="fa-solid fa-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Usuario")">Usuários</a>
                </li>
            </ul>
        </div>

        <div class="col-md-12">
            <div class="card card-round">
                <div class="card-header">
                    <div class="card-title">Cadastrados</div>
                    <div class="card-category">
                        Lista de Usuários Cadastrados no Sistema
                        <div class="card-head-row card-tools-still-right">
                            <div class="card-tools">
                                <div class="dropdown">
                                    <button class="btn btn-icon btn-clean me-0"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu"
                                         aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="@Url.Action("InserirUsuario","Usuario")">Adicionar/Usuário</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Usuário</th>
                                    <th scope="col" class="text-center">Equipe</th>
                                    <th scope="col" class="text-center">Login</th>
                                    <th scope="col" class="text-center">Data Registro</th>
                                    <th scope="col" class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listaUsuarios)
                                {
                                    <tr>
                                        <th scope="row">
                                            <img src="data:image/png;base64,@item.Foto" alt="..." class="avatar-img rounded-circle avatar-sm">
                                            @item.Nome #@item.Id
                                        </th>
                                        <td class="text-center">@item.Equipe.Nome</td>
                                        <td class="text-center">@item.Login</td>
                                        <td class="text-center">@item.DataRegistro.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center">
                                            @if (item.IsAtivo == true)
                                            {
                                                <span class="badge badge-success">Ativo</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Desativado</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="col-md-3 m-4">
                        @Html.PagedListPager(
                        listaUsuarios,
                        page => Url.Action(
                        "Index",
                        new
                        {
                            PaginaAtual = page,
                            Ordenacao = Model.Ordenacao,
                            TermoBusca = Model.TermoBusca
                        }),
                        new PagedListRenderOptions
                        {
                            FunctionToTransformEachPageLink = (liTag, aTag) =>
                            {
                                liTag.AddCssClass("page-item");
                                aTag.AddCssClass("page-link");
                                liTag.InnerHtml = aTag.ToString();
                                return liTag;
                            }
                        })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
